@charset "utf-8";
@font-face {
    font-family: 'baemin';
    src: url('./outputs/BMHANNAPro.ttf')format('truetype');
}

body, p {
    margin: 0px;
    padding: 0px;
    font-family: "baemin";
}

ul, li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

h2 {
    text-align: center;
    margin: 15px;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}

main {
    display: flex;
    flex-direction: column;
}

#wrapper {
    height:100%;
}

#myname {
    padding-left: 50px;
    font-weight: bold;
    font-size: 18px;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 100;

}



#header > .header_ul {
    display: flex;
    justify-content: end;
    align-items: center;
    border: none;
    height: 50px;
    background-color: white;
}

#header > .header_ul > .header_li:hover{
    cursor: pointer;
    background-color: rgb(239, 212, 240);
}

#header > .header_ul > .header_li {
    display: flex;
    width: 200px;
    height: inherit;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: background 0.5s;
    font-weight: bold;
    font-size: 20px;
}

#main_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#main_content > #h_comment {

    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 100%;
    z-index: 1;
    position:relative;
}

#main_content > #h_comment::after {
    height: 100%;
    width: 100%;
    content: " ";
    background : url("./outputs/img_bg.jpg");
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    opacity: 0.8;
}

#main_content > #about {
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-margin-top: 70px;
    height: 700px;
    width: 100%;
    z-index: 1;

}

#main_content > #about > .aboutTitle {

    font-size: 50px;
    font-weight: bold;
    margin-top:30px;
}

#main_content > #about > .aboutMe {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    font-size: 26px;
    margin-top:30px;
}

#main_content > #about > .aboutMe > .myImage {
    margin-right: 20px;
}

#main_content > #about > .aboutMe > .ulLeft {
    width: 150px;
}

#main_content > #about > .aboutMe > .ulLeft > li,
#main_content > #about > .aboutMe > .ulRight > li {
    padding: 10px;
}

#main_content > #about > .aboutSubTitle {
    padding-top: 30px;
    font-size:25px;
}

#main_content > #main_project {
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-margin-top: 70px;
    font-size:24px;
    margin: 50px 0;
}

#main_content > #main_project > #project_title {
    font-size: 50px;
    margin-bottom: 20px;
}
#main_content > #main_project > .project_introduce {
    display: flex;
    width: 780px;
    font-size:24px;
    margin: 20px 0;
}
#main_content > #main_project > .project_introduce > .introduce_title {
    width: 200px;
}
#main_content > #main_project > .project_introduce > .introduce_content {
    width: 700px;
}

#main_content > #main_project > #projectBtn {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin: 50px 0 20px 0;

}

#main_content > #main_project > #projectBtn > .btn {
    padding: 5px;
    outline: 2px solid gray;
    border-radius: 5px;
    cursor: pointer;
}


#main_content > #main_project > #projectImgContent > .project_img{
    display: none;
}

#main_content > #main_skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-margin-top: 70px;
    font-size: 50px;
    margin: 50px 0;
}

#main_content > #main_skill > #main_title {
    margin-bottom: 40px;
}

#main_content > #main_skill > .skills {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    width: 1020px;
}

#main_content > #main_skill > .skills > .my_skill > .skill_content {
    width: 400px;
}

#main_content > #main_skill > .skills > .usedTool {
    width: 300px;
}


#main_content > #main_skill > .skills > .my_skill > .skill_content >  .skillImg,
#main_content > #main_skill > .skills > .usedTool > .toolImg {
    height: 90px;
    width: 90px;
    margin: 15px;
}

footer {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    height: 180px;
}

footer > div {
    margin: 5px;
}

.main_ul{
    display: flex;
    margin: 10px;
    border: solid 1px #909090;
    border-radius: 4px;
}

.main_li:nth-child(1) {
    border-left: none;
}

.main_li {
    text-align: center;
    padding: 10px;
    border-left: solid 1px #909090;
}

.line {
   background-color: black;
   width: 80%;
   height: 2px;
   border:none;

}

